<div class="col-md-6" style="margin-left: 0px;">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">New User</h3>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="register()" class="form-horizontal" >
            <div [ngClass]="classCss" role="alert" *ngIf="message">
                <strong> {{ message.text }} </strong>
            </div>
            <div class="box-body">
                <div >
                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" 
                               formControlName="email"
                               class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                               id="inputEmail" 
                               name="email" 
                               ngModel 
                               placeholder="Email"  
                               > 
                        <div *ngIf="submitted && f.email.errors" class="errorField">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                        
                    </div>
                </div>

                <div >
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password"
                               formControlName="password"
                               class="form-control" 
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                               id="inputPassword" 
                               name="password"
                               ngModel 
                               placeholder="Password" 
                               required>
                        <div *ngIf="submitted && f.password.errors" class="errorField">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                        
                    </div>
                </div>

                <div >
                    <label for="inputProfile" class="col-sm-3 control-label">Profile</label>
                    <div class="col-sm-9">
                        <select formControlName="profile" 
                               class="form-control select2" 
                               [ngClass]="{ 'is-invalid': submitted && f.profile.errors }"
                               id="inputProfile" 
                               name="profile" 
                               ngModel  
                               style="width: 100%;"
                               required>
                               <option>ROLE_ADMIN</option>
                               <option>ROLE_CUSTOMER</option>
                               <option>ROLE_TECHNICIAN</option>
                        </select>
                    <div *ngIf="submitted && f.profile.errors" class="errorField">
                        <div *ngIf="f.profile.errors.required">Profile is required</div>
                    </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="box-footer">             
                <button type="submit" class="btn btn-info pull-right">Login</button>
            </div>
        </form>
    </div>
</div>