<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">       
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user-circle-o"></i> <span>User</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/user-list']"><i class="fa fa-users"></i> List</a></li>
            <li><a [routerLink]="['/user-new']"><i class="fa fa-user-plus"></i> New User</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-ticket"></i> <span>ticket</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-tasks"></i> List</a></li>
            <li><a [routerLink]="['/ticket-new']"><i class="fa fa-plus"></i> New Ticket</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-book"></i> <span>Summary</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-book"></i>To view</a></li>
          </ul>
        </li>
    </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
